<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>YAP - Peer Mentor</title>

    <link href="../css/yap.css" rel="stylesheet">
    <link href="../css/bootstrap.min.css" rel="stylesheet">
    <link href="../css/components.min.css" rel="stylesheet">
    <link href="../css/core.min.css" rel="stylesheet">
    <link href="../font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

</head>

<body>
    <div class="message-box">
        <div class="heading">
            Messages
                <a href="#"><i class="fa fa-pencil-square-o"></i></a>
        </div>

        <ul class="media-list">
            {{#each footer.messenger}}
                <li class="media">
                    <div class="media-left">
                        <img src={{img-src}} class="img-circle img-sm" alt="">
                        <!-- <span class="badge bg-danger-400 media-badge">5</span> -->
                    </div>

                    <div class="media-body">
                        <a href={{href}} class="media-heading">
                            <span class="text-semibold">{{name}}</span>
                            <span class="media-annotation pull-right">{{time}}</span>
                        </a>

                        <span class="text-muted">{{last-message}}</span>
                    </div>
                </li>
            {{/each}}
        </ul>

        <div class="dropdown-content-footer">
            <a href="#" data-popup="tooltip" title="All messages"><i class="icon-menu display-block"></i></a>
        </div>
    </div>


    <!-- footer -->
    {{> footer}}
    {{> googleAnalytics}}

</body>
<style>
    h3{
        font-size: 27px;
    }
    .box {
        border: 1px solid black;
        border-radius: 5px;
        height: inherit;
        background-color: #f4f4f5;
    }
    .list-box {
        margin: 10px auto;
        height: 156px;
    }
    .inner {
        margin: 0px;
    }
    .icon-label {
        font-size: 15px;
    }
    .header-icon {
        font-size: 1.15em;
    }
    .fa-pencil-square-o {
        float: right;
    }
    .heading {
        font-size: 3.5rem;
        font-weight: bolder;
    }
    .message-box {
        padding: 1rem;
    }
    .heading {
        padding: 1rem 0;
    }
    .bg-danger-400 {
        background-color: #EF5350 !important;
        color: #fff;
    }
    .media-badge {
        position: absolute;
        left: -10px;
        top: -7px;
    }
    .badge {
        padding: 1px 5px 0px 5px;
        font-size: 10px;
        letter-spacing: 0.1px;
        vertical-align: baseline;
        background-color: transparent;
        border: 1px solid transparent;
    }
    .badge {
        display: inline-block;
        min-width: 10px;
        padding: 3px 7px;
        font-size: 14px;
        font-weight: 500;
        color: #fff;
        line-height: 1.5384616;
        vertical-align: middle;
        white-space: nowrap;
        text-align: center;
        background-color: #999999;
        border-radius: 15px;
    }
    .media-body {
        font-size: 2rem;
    }
    .img-sm {
        width: 55px!important;
        height: 55px!important;
    }
    .media-annotation {
        font-size: 16px;
    }
</style>

</html>
